body{
  background-color:  #DED7B1 ;
}

.headingDiv {}

.heading1{ 
  color:#CC7351;
}

.location-input {
  background-color: #9DAB86;
  padding: 5px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  text-align: center;
}

.btn {
  border-radius: 20px;
  border: none;
  background-color: #CC7351;
  padding: 10px;
  height: fit-content;
}

.searchElementDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}
